.Editor {

    .quill {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .ql-snow .ql-tooltip{
        z-index: 100;
        border: 1px solid var(--borderCommon);
        box-shadow: none;
        border-radius: 5px;  
    }

    .ql-snow .ql-fill,
    .ql-snow .ql-stroke.ql-fillI,
    .ql-snow .ql-picker {
        fill: white !important;
        color: white !important;
    }

    .ql-snow .ql-editor pre.ql-syntax{
        background-color: #262626 !important;
        font-size: small;
        border: 1px solid var(--borderCommon);
    }

    .ql-snow .ql-picker-options {
        background-color: #252525;
    }

    .ql-snow .ql-stroke {
        stroke-width: 1.5px;
        stroke: white !important;
    }

    .ql-editor.ql-blank::before {
        font-style: normal;
        color: #a0a0a0 !important;
    }

    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options,
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
        border-color: var(--borderCommon)
    }

    .ql-snow.ql-toolbar button:hover,
    .ql-snow .ql-toolbar button:hover,
    .ql-snow.ql-toolbar button:focus,
    .ql-snow .ql-toolbar button:focus,
    .ql-snow.ql-toolbar button.ql-active,
    .ql-snow .ql-toolbar button.ql-active,
    .ql-snow.ql-toolbar .ql-picker-label:hover,
    .ql-snow .ql-toolbar .ql-picker-label:hover,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active,
    .ql-snow.ql-toolbar .ql-picker-item:hover,
    .ql-snow .ql-toolbar .ql-picker-item:hover,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
        color: #00ff37 !important;
    }

    .quill>div:nth-child(1) {
        background-color: rgb(35, 35, 35);
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .quill>div {
        font-size: 18px;
        // border: 1px solid var(--borderCommon) !important;
        border: none;
        border-radius: 5px;
        // background-color: #252525;
        font-family: 'Rubik', sans-serif;

    }
}