.NavBar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-right: 1px solid var(--borderCommon);
    box-sizing: border-box;
    padding: 20px 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        li.no,
        li.no:hover,
        li.no.on {
            background-color: transparent;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #444ba82d;
            transition: all .2s;
            text-decoration: none;
            color: var(--textColor);
        }

        li:hover {
            background-color: #545dd8;
        }

        li.on {
            background-color: #545dd8;
        }
    }

}

.Navcontent {
    position: absolute;
    right: 0;
    top: 0;
    left: 70px;
}