.BlogView {
    .imgCont {
        border: 1px solid var(--borderCommon);
        overflow: hidden;
        padding: 0;
        border-radius: 5px;
        background-color: black;
        max-height: 500px;
        display: flex;

        img {
            max-height: 100%;
            width: 100%;
            border-radius: 5px;
            object-fit: scale-down;
        }
    }

    .descrition-page {
        margin-top: 15px;

        .profile-shareCont {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .profile {
                display: flex;
                align-items: center;
                gap: 10px;

                .details {
                    display: flex;
                    flex-direction: column;
                }


            }

            .buttons {
                display: flex;
                gap: 10px;
            }
        }
    }

    .contents{
        border: 1px solid var(--borderCommon);
        border-radius: 5px;
        padding: 15px ;
        margin-top: 20px;
    }

    .contents-chip {
        margin-top: 10px;
        overflow-y: hidden;

        -ms-overflow-style: none;
        scrollbar-width: none;

        .chips {
            display: flex;
            gap: 5px;
        }
    }

    .contents-chip::-webkit-scrollbar {
        display: none;
    }
}