.NavbarMainComponent {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .TopNav {
        width: 100%;
        top: 0;
        position: fixed;
        height: 60px;
        // background-color: black;
        z-index: 100;
    }

    .SideBar {
        position: absolute;
        left: 0;
        top: 65px;
        bottom: 0;
        width: 200px;
    }

    .AppBody {
        position: absolute;
        top: 65px;
        right: 0;
        left: 200px;
        bottom: 0;
        overflow-x: hidden;
    }
}