:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --themeBg: #0a0a0a;
  --borderCommon: rgb(139, 139, 139);
  --textColor: white;

  font-synthesis: none;
}

:root {
  margin: 0;
  padding: 0;
}

.dummy {
  height: 100px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.txtInLink {
  color: inherit;
}

.line {
  display: block;
  height: 1px;
  background-color: var(--borderCommon);
  margin: 10px 0;
}
