:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: #ffffffde; */
  /* background-color: #242424; */

  --themeBg: #0a0a0a;
  --borderCommon: rgb(139, 139, 139);
  --textColor: white;

  font-synthesis: none;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547; 
     background-color: #ffffff;
  } */
}

:root {
  margin: 0;
  padding: 0;
}

.dummy {
  height: 500px;
}

.dim {
  color: rgb(124, 124, 124);
}

.dimm {
  filter: opacity(50%);
}

.sm {
  font-size: smaller;
}

.link {
  text-decoration: none;
  color: inherit;
}

.txtInLink {
  color: inherit;
}
.line {
  display: block;
  height: 1px;
  background-color: var(--borderCommon);
  margin: 10px 0;
}

.b {
  font-weight: bold;
}
