.CreateBlog.mb {
    .inputsContainer {
        width: 100%;
        left: 0;
        right: 0;
        border-radius: 0;
        padding: 20px;
    }
}

.CreateBlog {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .inputsContainer {
        position: absolute;
        top: 60px;
        bottom: 80px;
        margin-top: 20px;
        background-color: rgb(27, 27, 27);
        padding: 30px;
        border: 1px solid var(--borderCommon);
        border-radius: 10px;
        overflow-x: hidden;
        box-sizing: border-box;

        .titleInput {
            font-weight: 500;
            margin-top: 10px;
            border: none;
            outline: none;
            background-color: transparent;
            width: 100%;
            font-family: 'Rubik', sans-serif;
            resize: none
        }
    }

    .BottomBtn {
        position: absolute;
        bottom: 10px;
    }


    h2 {
        margin: 0;
        padding-bottom: 0;
    }

    p {
        margin-top: 0;
    }

    .titleBar {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    img {
        max-width: 100%;
    }

    .Editor {


        .quill {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .ql-snow .ql-fill,
        .ql-snow .ql-stroke.ql-fillI,
        .ql-snow .ql-picker {
            fill: rgb(255, 255, 255) !important;
            color: white !important;
        }

        .ql-snow .ql-picker-options {
            background-color: #252525;
        }

        .ql-snow .ql-stroke {
            stroke-width: 1.5px;
            stroke: white !important;
        }

        .ql-editor::before {
            font-style: normal;
            color: #a0a0a0 !important;
        }

        .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options,
        .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
            border-color: var(--borderCommon)
        }

        .ql-snow.ql-toolbar button:hover,
        .ql-snow .ql-toolbar button:hover,
        .ql-snow.ql-toolbar button:focus,
        .ql-snow .ql-toolbar button:focus,
        .ql-snow.ql-toolbar button.ql-active,
        .ql-snow .ql-toolbar button.ql-active,
        .ql-snow.ql-toolbar .ql-picker-label:hover,
        .ql-snow .ql-toolbar .ql-picker-label:hover,
        .ql-snow.ql-toolbar .ql-picker-label.ql-active,
        .ql-snow .ql-toolbar .ql-picker-label.ql-active,
        .ql-snow.ql-toolbar .ql-picker-item:hover,
        .ql-snow .ql-toolbar .ql-picker-item:hover,
        .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
        .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
            color: #00ff37 !important;
        }

        .quill>div:nth-child(1) {
            background-color: rgb(35, 35, 35);
            position: -webkit-sticky;
            /* Safari */
            position: sticky;
            top: 0;
            z-index: 100;
        }

        .quill>div {
            font-size: 18px;
            border: 1px solid var(--borderCommon) !important;
            border-radius: 5px;
            background-color: #252525;
            font-family: 'Rubik', sans-serif;

        }
    }

    .buttonCont {
        margin-top: 20px;
    }
}